<div class="read-records">
    <p>Zutat:</p>
    <sl-dropdown (sl-select)="selection($event)">
        <sl-button slot="trigger" caret>{{selectedZutat ? selectedZutat.name : "Zutat wählen"}}</sl-button>
        <sl-menu>
            <sl-menu-item *ngFor="let zutat of allZutaten$ | async" value="{{zutat.name}}">{{zutat.name}}</sl-menu-item>
        </sl-menu>
    </sl-dropdown>
    <div *ngFor="let rezepteForQuelle of rezepteForQuelle">
        <p>Rezepte für Quelle {{rezepteForQuelle.quelleName}}</p>
        <app-display-rezepte [rezepte]="rezepteForQuelle.rezepte"></app-display-rezepte>
    </div>
</div>