<form *ngIf="!zutatChosen">
    <p>Wähle Zutat, zu welcher Rezepte eingetragen werden sollen</p>
    <app-input-autocomplete *ngIf="allZutatenNames !== undefined" [placeholder]="'Zutat'" [mandatory]="true"
        [allEntries]="allZutatenNames" (chosenEntry)="setZutat($event)"></app-input-autocomplete>
    <button *ngIf="needNewZutat && !zutatCreationEnabled" (click)="activateZutatCreation($event)" mat-icon-button
        color="primary">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button *ngIf="zutatCreationEnabled" [disabled]="chosenZutat" (click)="addNewZutat($event)" mat-icon-button
        color="primary">
        <mat-icon>send</mat-icon>
    </button>
    <button *ngIf="!needNewZutat && !zutatCreationEnabled"
        [disabled]="zutatNameInput === undefined || zutatNameInput.length === 0" (click)="finalizeSettingZutat($event)"
        mat-icon-button color="primary">
        <mat-icon>check_circle_outline</mat-icon>
    </button>
    <button *ngIf="zutatCreationEnabled" [disabled]="chosenZutat" (click)="abortZutatCreation($event)" mat-icon-button
        color="primary">
        <mat-icon>delete</mat-icon>
    </button>
</form>
<div *ngIf="zutatChosen">
    <h3>Eintragen für Zutat: {{chosenZutat.name}}</h3>
    <h3>in Quelle: {{quelle.name}}</h3>
    <h5>Bereits zugeordnete Rezepte:</h5>
    <app-display-rezepte [rezepte]="preSetRezepte"></app-display-rezepte>
    <h5>Welche Rezepte sollen zugeordnet werden?</h5>
    <button *ngIf="isRezeptCreationReady()" (click)="activateRezeptCreation($event)" mat-icon-button color="primary">
        <mat-icon>add_circle</mat-icon>
    </button>
    <div *ngIf="isRezeptCreationOngoing()">
        <app-input-autocomplete [placeholder]="'Rezept'" [mandatory]="true" [allEntries]="allRezepteNames"
            (chosenEntry)="setRezept($event)"></app-input-autocomplete>
        <app-input-autocomplete [placeholder]="'Stelle'" [mandatory]="true" [allEntries]=""
            (chosenEntry)="setRezeptStelle($event)"></app-input-autocomplete> F
        <h5 *ngIf="doubleRezeptInput" class="error">Rezept bereits eingetragen</h5>
        <button (click)="addNewRezeptAndSetRelation($event)" mat-icon-button color="primary">
            <mat-icon>send</mat-icon>
        </button>
        <button (click)="endRezeptCreation($event)" mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>