<p>Zutat:</p>
<sl-dropdown (sl-select)="selection($event)">
    <sl-button slot="trigger" caret>{{selectedIngredient ? selectedIngredient.name : "Zutat wählen"}}</sl-button>
    <sl-menu>
        <sl-menu-item *ngFor="let ingredient of allIngredients$ | async " value="{{ingredient.name}}">{{ingredient.name}}</sl-menu-item>
    </sl-menu>
</sl-dropdown>
<div *ngFor="let rezepteForQuelleEntry of rrByResource" style="width: 50%;">
    <h5>Rezepte für Quelle {{rezepteForQuelleEntry.resource}}</h5>
    <app-display-rezepte [recipeResources]="rezepteForQuelleEntry.recipeResources"></app-display-rezepte>
</div>