<form class="example-form">
    <p>Wähle Quelle</p>
    <app-input-autocomplete *ngIf="quellenNames !== undefined" [allEntries]="quellenNames" (chosenEntry)="setQuelle($event)"></app-input-autocomplete>
    <button *ngIf="needNewQuelle && !activationQuelleCreationEnabled" (click)="activateQuelleCreation($event)"
        mat-icon-button color="primary">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button *ngIf="quelleOk" mat-icon-button color="primary" disabled="quelleOk">
        <mat-icon>check_circle</mat-icon>
    </button>
    <mat-form-field *ngIf="activationQuelleCreationEnabled" class="example-full-width">
        <input matInput placeholder="Autor" [formControl]="quelleAutorFormControl">
    </mat-form-field>
    <button *ngIf="activationQuelleCreationEnabled && !quelleOk" (click)="addNewQuelle($event)" mat-icon-button color="primary">
        <mat-icon>send</mat-icon>
    </button>
    <button *ngIf="activationQuelleCreationEnabled" (click)="abortQuelleCreation($event)" [disabled]=quelleOk mat-icon-button color="primary">
        <mat-icon>delete</mat-icon>
    </button>
</form>